.inbox-main {
  margin-left: 28%;
  padding-bottom: 30px;
  width: 50%;
}

.section-total {
  display: grid;
  grid-template-columns: 1fr 50px 50px;
  width: 100%;
  margin-bottom: 30px;
}

.section-heading {
  color: #2A85C7;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.add-icon {
  width: 15px;
  z-index: 2;
  position: absolute;
  top: 14.5%;
  left: 74%;
}


.section-name-heading {
  margin-left: 28%;
  margin-top: 120px;
  margin-bottom: 35px;
  font-size: 35px;
  color: #194F75;
  width: 100px;
}


.add-task {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  color: rgb(108, 104, 104); 
  margin-top: 20px;
  margin-bottom: 30px;
}

.add-icon{
  padding-top: 3px;
  width: 15px;
}

.plus-sign{
  font-size: 25px;
  color: rgb(242, 91, 91);
  padding-top: 13px;
  padding-right: 10px;
}


.task-container {
  display: grid;
  grid-template-columns: 1fr 50px 50px;
  width: 80%
}

.add-tasks-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin-bottom: 30px;
}

.task-description {
  padding-left: 21px;
  font-size: 13px;
  color: #7EC4F7;
}


.inbox-div{
  width: 90%
}

.task-date{
  font-size: 10px;
  color: #F96A6A;
  padding-left: 21px;
  padding-top: 4px;
}

.hr {
  margin-top: 10px;
  height: 2px;
  background-color: rgb(240, 240, 240);
  border: none;
}
